In [4]:
import collections
import json 
import numpy as np
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import RegexpTokenizer
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [10]:
import json
import pandas as pd

# List to store parsed JSON data
json_data = []
lines_to_read = 54380  # Adjust the number of lines you want to read

# Open and read the JSON file, limiting the number of lines
file_path = r"C:\Users\Administrator\Downloads\yelp_dataset\yelp_academic_dataset_review.json"

# Read the file and extract the specified number of lines
with open(file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        if i >= lines_to_read:  # Stop after reading the specified number of lines
            break
        json_object = json.loads(line)
        json_data.append(json_object)

# Convert the extracted JSON data into a pandas DataFrame
review_df = pd.DataFrame(json_data)

# Save the DataFrame to a CSV file for easier future use
output_csv_path = r'C:\Users\Administrator\Downloads\yelp_dataset\review_sample.csv'
review_df.to_csv(output_csv_path, index=False)

print("Sample data saved to:", output_csv_path)

Sample data saved to: C:\Users\Administrator\Downloads\yelp_dataset\review_sample.csv

In [12]:
# loading the second dataset review.csv
review=pd.read_csv( r"C:\Users\Administrator\Downloads\yelp_dataset\review_sample.csv")
# previewing the dataset
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15